*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  color: #333;
}

body::-webkit-scrollbar {
    width: 8px
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: -webkit-linear-gradient(45deg, #3366ff, #1ee4a6);
    background: linear-gradient(45deg, #3366ff, #1ee4a6);
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;
}

.container {
  padding: 24px;
  box-sizing: border-box;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0 5px 5px rgba(0,0,0,.5));
          filter: drop-shadow(0 5px 5px rgba(0,0,0,.5))
}